  
  div#pattern-sidebar-grid {
    padding: 2%;
    display: grid;
    height: calc(20vh - 35px);;
    grid-gap: 0 15px;
    grid-auto-flow: column;
    grid-auto-columns: 150px;
    place-content: center start;
    min-height: 100px;
  }
  #pattern-sidebar-grid img{
    display: grid;
    object-fit: cover;
    height:auto;
    object-position: left;
    width: 100%;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    border-radius:13px;
    /* overflow-x: scroll; */
  }
  .pattern-items {
    height: 100%;
  }
  
  .sites-items {
    width: 300px; /* Fixed width */
    height: 200px; /* Fixed height */
    margin: 10px; /* Optional: Add margin between items */
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  p.pattern-id {
    text-align: center;
    font-family: system-ui;
    display: none!important;
    color: #c9c9c9;
    font-size: 10px;
    background: white;
    margin-top: 0px;
    position: relative;
    margin-left: 0px;
    border-radius: 10px;
    padding: 3px 10px;
}
  
  #pattern-sidebar {
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: -20vh;
    left: 0px;
    background-color: #f4f4f4;
    z-index: 9999;
    min-height:135px;
}
  .pattern-settings {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    background: #cdcdcd;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%), 0 10px 10px -5px rgb(0 0 0 / 4%);
    display: grid;
    grid-template-columns: 1fr 50px 50px 50px;
    overflow: hidden;
    gap: 1px;
    /* padding: 0 1rem; */
  }
  .pattern-settings img {
    max-width: 20px;
  }
  .pattern-settings button {
    padding: 0px;
  }
  input#pattern-search-input {
    border: none;
    padding: 0 25px;
    background: white;
    height: 35px;
    width: 100%;
  }
  button#image-sidebar-search-button img {
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    border: none;
  }
  button#image-sidebar-search-button {
    width: 100%;
}
  
.pattern-box {
  display: grid;
  overflow: scroll;
  height: auto
}
  