.bg-hidden{
  display:none;
}
.bg-selected{
  display:grid;
}

#toolbarModal {
  z-index: 1;
  position: fixed;
  place-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  border-radius: 10px;
  visibility:hidden;
  perspective: 1000px;
  height:316px;
}
.toolbar-open img {
  filter:invert(1); 
}
button.toolbar-open {
  padding: 5px;
}
.toolbar-open {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: black;
  border: 3px solid white;
  
}
div#toolbar-header {
  display: grid;
  width:auto;
}
div#toolbar-header {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  place-content: center;
  width: 100%;
  background: white;
  border-bottom: 1px solid #dddddd;
}
button.toolbar-close {
background: red;
}
p#toolbarSectionID {
display: grid;
place-content: center;
}
div#toolbar-buttons {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  background: #dddddd;
  place-items: center;
  gap: 1px;
}
div#toolbar-buttons button {
  width: 100%;
  display: grid;
  gap: 5px;
  background:#f2f2f2;
}
div#toolbar-header img {
  width: 25px;
}

/* styles.css */

.dropzone {
  min-width: 100px; /* Minimum width */
  min-height: 50px; /* Minimum height */
  border: 1px dashed #ccc;
  padding: 30px;
  position: relative;
}

.hover {
  background-color: #f0f0f0;
}

.icon {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}

.icon span {
  cursor: pointer;
  background-color: #f7f7f7;
  display: block;
  transition: background-color 0.2s;
}

.icon span:hover {
  background-color: #e0e0e0;
}
.toolbarTitles {
  display: flex;
  place-content: center;
  gap: 5px;
  place-items: center;
  color: black;
  font-size: 14px;
}
span#toolbarSectionID {
  font-weight: 900;
}
div#toolbar-buttons img {
  padding: 4px;
}




.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: grid;
  place-content: center;
  place-items: center;
}

/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
.radio-group {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 280px;
  background: #dddddd;
  gap: 1px;
}
.radio-group p {
  display: none;
}
.radio-group label {
  display: grid;
  place-content: center;
  padding: 15px;
  background: #f2f2f2;
  color:black;
  gap:5px;
}
.flip-card-back-buttons {
  display: grid;
  background: #eeeeee;
  gap: 1px;
  grid-template-columns: repeat(3,1fr);
}
button#edit-bg {
  display: grid;
  grid-column: 1 / -1;
}

.flip-card-back-buttons button {
    display: grid;
    /* grid-template-columns: 50px 1fr 50px;
    place-items: center; */
    /* place-content: center; */
    background: white;
    gap: 1px;
}
p#color-id,
p#video-id,
p#image-id{
  font-size: 10px;
}

.flip-card-front, 
.flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}